{% extends 'base/base.html' %}
{% block page_content %}
    <section id="contact" class="contact">
        <div class="container">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic">Want to share something with us?</h1>
                    <p class="lead my-3 fst-italic">If you want to become article writer, to share a feedback or simply
                        to say "Hi!"
                        fill in the form!</p>
                    {#                <p class="lead">Check out our Latest news below! </p>#}
                </div>
            </div>
            <div class="row no-gutters justify-content-center" data-aos="fade-up">
                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Boulevard "Simeonovsko Shose 93, Sofia</p>
                        </div>
                        <div class="email mt-4">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>katrin.zlateva@gmail.com</p>
                        </div>
                        <div class="phone mt-4">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 d-flex align-items-stretch">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17709.154383542336!2d23.32124303699863!3d42.636215925577424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa840659f06805%3A0x23b496c01d997f08!2zQm91bGV2YXJkICJTaW1lb25vdnNrbyBTaG9zZSA5MywgMTczNCDQti7Qui4g0JzQsNC70LjQvdC-0LLQsCDQtNC-0LvQuNC90LAsIFNvZmlh!5e0!3m2!1sen!2sbg!4v1651260084113!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-10">
                    <form method="post" action="{% url 'contact us' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="message_name" class="form-control" id="name" placeholder="Your Name"
                                       required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="message_email" id="email"
                                       placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}