{% extends 'base/base.html' %}
{% block page_content %}
    <div class="container rounded bg-white">
        <div class="container col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="form-signin">
                    <h4 class="text-center">Delete Comment</h4>
                </div>
                <div class="container text-center">
                    <p>Do you want to delete your comment:</p>
                    <p>"{{ comment.body }}"</p>
                </div>
                <div class="text-center">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form }}
                        <div class="mt-3 text-center">
                            <button class="btn btn-md btn-danger" type="submit">Delete Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
